/* ||reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    height:auto;
}

li{
    list-style: none;
}

body{
    scroll-behavior: smooth;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

.wrap{
    white-space: wrap;
}

/* || CSS CONSTANT */

:root{
/* ||COLOR */
    --LIGHTCOLOUR: rgb(239, 238, 238);

    --BOLD-FONT: 

/* ||PADDING & MARGIN */
    --DEFAULTPADDING: 0 1rem 0 1rem;
    --BTMARGIN: 1rem:
}


.topmenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: right;
    align-items: center;
    background-color: var(--LIGHTCOLOUR);
    padding: 0 1rem 0 1rem;
}

.brandlist{
    display: flex;
    gap: 1rem;
    margin: 1 auto;
}

.brandicon > img{
    width: 36px;
}

.menulist{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: end; */
}

.main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
}
.shop-category{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.blackfriday{
    margin-bottom: 12px;
}

.blackfriday, .blackfriday img{
    max-width: 100%;
}

.rai{
    margin-bottom: 12px;
}

.rai, .rai> img{
    width: 100%;
}

.span{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
}

.rai-picks h1{
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.rai-picks h3{
    color: #555 ;
}

.span .button{
    margin-top: 16px;
}
.span button{
    padding:10px;
    font-size: 16px;
    font-weight: 600;
    background-color: black;
    color: #fff;
    border-radius: 20px;
}

.span button:hover{
    transform: 2s;
    background-color: #fff;
    color: #000;
}

.collections{
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
}

.collection{
    position: relative;
}

.collection img{
    position: absolute;
}

